<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="userMapper">
	<insert id="insertUser"
				parameterType="user">
		INSERT
		  INTO
		 		TB_USER
		 		(
		 		USER_NO
		 	 ,	USER_ID
		 	 ,	USER_PWD
		 	 ,	USER_NAME
		 	 ,	EMAIL
		 	 ,	NICKNAME
		 		)
		VALUES
				(
				SEQ_TB_USER.NEXTVAL
			 ,	#{userId}
			 ,	#{userPwd}
			 ,	#{userName}
			 ,	#{email}
			 ,	#{nickName}
				)			
	</insert>
	
	<select id="login" resultType="user">
		SELECT
				USER_NO
			 ,	USER_ID
			 ,	USER_PWD
			 ,	USER_NAME
			 ,	EMAIL
			 ,	NICKNAME
			 ,	ENROLL_DATE
			 ,	MODIFY_DATE
			 ,	STATUS
		  FROM
		  		TB_USER
		 WHERE
		 		USER_ID = #{userId}
		   AND
		   		USER_PWD = #{userPwd}
		   AND
		   		STATUS = 'N'
	</select>
	
	<select id="logout" resultType="_int">
		SELECT
				COUNT(*)
		  FROM
		  		TB_USER
		 WHERE
		 		USER_ID = #{userId}
		   AND
		   		USER_PWD = #{userPwd}
		   AND 
		   		STATUS = 'N'
	</select>
	



</mapper>